

<div class="row">
  <div class="card shadow-sm" id="dashboard">
    <div class="entries-card">
    <div class="entries-card__sidebar">
      <%= render(@entries) %>
    </div>
    <div class="entries-sidebar__main"></div>
      <%= render(partial: 'entries/main', locals: { entry: @main_entry }) %>
    </div>
  </div>
</div>