

<div class="row">
  <div class="card shadow-sm" id="dashboard">
    <div class="entries-card">
    <div class="entries-card__sidebar">
      <%= render(@entries) %>
    </div>
    <div class="entries-sidebar__main"></div>
    <%= @entries.first.name %>
    </div>
  </div>
</div>